<div id="sidebar">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header position-relative">
            <div class="d-flex justify-content-between align-items-center">
                <h5>
                    <a class="" href="/">Open Repair Manager</a>
                </h5>
                <div class="sidebar-toggler  x">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div id="sidebar-nav" class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title"><h5>Menu</h5></li>

                <li id="dashNav" class="sidebar-item">
                    <a href="/" class="sidebar-link">
                        <i class="bi bi-grid-fill"></i>
                        <span>Home</span>
                    </a>
                </li>

                <li id="repairsMenu" class="sidebar-item">
                    <a href="/RepairItems" class="sidebar-link">
                        <i class="bi bi-map"></i>
                        <span>Repairs</span>
                    </a>
                </li>
            </ul>

            <ul class="menu">
                <li class="sidebar-title"><h5>Settings</h5></li>
                <li class="sidebar-title"><h6 id="sideSession">Session:&nbsp;@SelSession </h6></li>
                <li class="sidebar-title"><h6 id="sideCat">Station:&nbsp;@Cat</h6></li>

                <li id="sessionNav" class="sidebar-item">
                    <a href="/SessionSelect" class="sidebar-link">
                        <i class="bi bi-calendar-event"></i>
                        <span>Change Session</span>
                    </a>
                </li>
                <li id="apiNav" class="sidebar-item">
                    <a href="/FirstRun" class="sidebar-link">
                        <i class="bi bi-sliders"></i>
                        <span>API Setup</span>
                    </a>
                </li>
                <li id="aboutNav" class="sidebar-item">
                    <a href="/About" class="sidebar-link">
                        <i class="bi bi-info-circle"></i>
                        <span>About</span>
                    </a>
                </li>

            </ul>
        </div>

        <div style="display: none" id="setup-nav" class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title"><strong>Setup</strong></li>

                <li id="setupWelcomeNav" class="sidebar-item">
                    <a class="sidebar-link">
                        <i class="bi bi-person-raised-hand"></i>
                        <span>Welcome</span>
                    </a>
                </li>

                <li id="setupDatabaseNav" class="sidebar-item">
                    <a class="sidebar-link">
                        <i class="bi bi-database-add"></i>
                        <span>Database</span>
                    </a>
                </li>

                <li id="setupAccountNav" class="sidebar-item">
                    <a class="sidebar-link">
                        <i class="bi bi-person-add"></i>
                        <span>Account</span>
                    </a>
                </li>
                
                <li id="setupCompleteNav" class="sidebar-item">
                    <a class="sidebar-link">
                        <i class="bi bi-check-lg"></i>
                        <span>Finish</span>
                    </a>
                </li>
            </ul>
        </div>
        
    </div>
</div>

@code{
    string SelSession;
    string Cat;
    
    protected override void OnInitialized()
    {
        SelSession = Preferences.Default.Get("SessionName", "None Selected");
        Cat = Preferences.Default.Get("Category", "None Selected");
    }

}