@page "/About"
@layout MazerLayout

<section class="section">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3>Open Repair Manager | MAUI</h3>
                </div>
                <div class="card-body">
                    <p>
                        &copy; 2023-@DateTime.Now.Year Mitchell Hawks. Licensed under the MIT License.
                    </p>
                    <h5>This app uses the following open-source software libraries:</h5>
                    <ul>
                        <li>.Net Core MAUI</li>
                        <li>Bootstrap</li>
                        <li>Bootstrap Icons</li>
                        <li>jQuery</li>
                        <li>FontAwesome</li>
                        <li>Mazer Admin Dashboard</li>
                    </ul>
                    <div class="row">
                        <div class="card-header">
                            <h4>License</h4>
                        </div>
                        <div class="card-body">
                            <p>
                                The MIT License (MIT)<br/>
                                Copyright (c)<br/>
                                2018-@DateTime.Now.Year<br/>
                                Mitchell Hawks
                            </p>
                            <p>
                                Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
                            </p>

                            <p>
                                The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
                            </p>

                            <p>
                                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById('pageTitle').innerHTML = "About";
    document.getElementById('pageTitle2').innerHTML = "About";
</script>
<script type="text/javascript">
    document.getElementById('dashNav').classList.remove('active')
    document.getElementById('repairsMenu').classList.remove('active')
    document.getElementById('sessionNav').classList.remove('active')
    document.getElementById('apiNav').classList.remove('active')
    document.getElementById('aboutNav').classList.add('active')
    document.getElementById('printNav').classList.remove('active')
</script>